/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}

/*NAV BAR*/
/* ===== Colours ===== */
:root{
    --body-color: rgb(0, 0, 0);
    --nav-color: rgb(0, 0, 0);
    --side-nav: #010718;
    --text-color: #ffffff;
    --highlight-color: #4afcaf;
    --primary-color: #cc87fc;
}

body{
  height: 100vh;
  background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 10px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-color: var(--nav-color);
    z-index: 100;
    box-shadow: 0px 0px 10px 0.1px black;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    width: 90%;
    background-color: var(--nav-color);
    padding: 0 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;

    width: 100%;
    justify-content: space-between;
}

.nav-bar .nav-links li{
    margin: 0 15px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}


.nav-more{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 10px;
}

.nav-more a{
    margin: 0 10px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-style: unset;
    text-decoration: none;

}

.nav-more a:hover{
    font-size: 14px;
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

.add-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: var(--highlight-color);
}

.add-bar span{
  font-size: 13px;
  font-weight: 500;
}


/*===RESPONSIVENESS====*/

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen{
      display: block;
  }

  nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 0px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    background-color: var(--nav-color);
    z-index: 100;
    box-shadow: 0px 0px 10px 0.1px black;
  }

  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }

  nav.active .menu{
      left: -0%;
  }

  nav.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }

  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-toggle .siderbarClose{
      color: var(--text-color);
      font-size: 24px;
      cursor: pointer;
  }

  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }

  .nav-links li a{
      display: block;
      margin-top: 20px;
  }

  .nav-more{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 8px 8px;
  }

  .nav-more a{
      font-size: 10px;
      color: rgb(0, 0, 0);
      font-style: unset;
      margin: 0 5px;
  }

  nav .nav-bar{
    position: relative;
    height: 100%;
    width: 90%;
    background-color: var(--nav-color);
    padding: 0 0px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  
  
  
}
